@font-face{font-family:'iconitos';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
a{text-decoration:none;list-style:none}
img{border:none;display:inline-block}
body{background-color:#fff;font-family:'Open Sans',Arial;font-size:16px}
footer{background:#d6de23;border-top:1px dotted #777;color:rgba(255,255,255,0.75);font-size:.85em;font-weight:lighter;padding:3em 0;text-align:center;}
footer span p{font-weight:bold;}
footer span p:before{content:"- ";font-weight:bold}
footer span p:after{content:" -";font-weight:bold}
footer p{padding:.2em;}
footer p a{border-bottom:1px dotted rgba(255,255,255,0.75);color:rgba(255,255,255,0.75);padding:0 0 .35em 0}
h1,h2,h3,h4,h5,h6{display:inline-block}
header{height:auto;width:100%;}
header img{display:inline-block;margin:1em 0 0 2.25em;padding:1em;text-align:center;width:200px}
li{border-bottom:1px solid #333;display:block;list-style:none;margin:0;padding:.5em;}
li a{display:inline-block;margin:0 0 0 20px;padding:.5em}
nav{background:#d6de23;display:block;padding:0;position:relative;}
nav .main-menu{background-color:#d6de23;display:block;margin:0;padding:0;width:100%;}
nav .main-menu .menu{border:none;display:inline-block;margin:0 0 0 70%;padding:0;position:relative;width:auto}
p{margin:0;padding:0}
.section-home{margin:0;padding:0;position:relative;width:100%;}
.section-home figure img,.section-home width auto img{margin:0;width:100%}
.section-home .follow{display:inline-block;font-size:1.15em;margin:0 5% 0 25%;padding:1em 0;position:relative;text-align:center;width:70%;}
.section-home .follow .p-follow{color:#555;}
.section-home .follow .p-follow:before{color:#00aee9;content:"\e600";display:inline-block;font-family:"iconitos";font-size:1.75em;text-align:center;text-decoration:none;vertical-align:buttom}
.section-home .follow .p-follow:after{color:#00aee9;content:"\e601";display:inline-block;font-family:"iconitos";font-size:1em;text-decoration:none;vertical-align:middle}
.section-home .social{border:1px dotted #666;border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-ie-border-radius:10px;padding:1em;display:inline-block;margin:0 0 1em 0;position:relative;z-index:10}
.section-home .texto-home{background-color:#333;color:#76d5e5;font-size:.9em;font-style:italic;margin:-5px 0 0 0;padding:.9em .9em 1.25em .9em;}
.section-home .texto-home p{padding:.35em 0}
.section-home .texto-home .p-big{color:#eaeaea;display:inline-block;font-size:1.15em;font-weight:bold}
.section-home .social-article{background:#eaeaea;height:auto;overflow:hidden;margin:0;padding:0;postion:relative;width:100%}
.submenu{background:#222;display:none;margin:0;padding:0;position:relative;width:100%;}
.submenu a{color:#eaeaea;font-size:.85em;font-style:italic;display:block}
.timeline{display:none;margin-left:1em;padding:1.65em 0;width:75%}
