gris_oscuro = #444
gris_claro = invert(gris_oscuro)

header
	background gris_oscuro
	padding 0.5em

	h1
		color white
		font-size 18px
		margin 0
		paddin 0

	.logo
		figure
			height 52px
			widows 52px
			border 1px dashed gris_claro

	.usuario
		.avatar
			height 50px
			border 1px dashed gris_claro
			border-radius 50%
			width 50px

section 
	padding 1.5em

	article
		
		border-bottom-left-radius 1em
		border-bottom-right-radius 1em
		box-shadow 1px 2px 5px #666
		margin 0
		overflow hidden
		padding .5em

	figure
		background-color gris_claro
		height 160px
		width 120px 

	h2
		color gris_oscuro
		font-size 16px

	.acciones
		border-top 3px solid gris_oscuro
		padding .5em

		.datos
			position relative
			right 2em
	.post 
		margin-bottom 1.25em


	



